#header ul{
	margin:0px;
	padding:0px;
	list-style:none;

}
#header li{
	float:left;
	margin:0px;
	padding:0px;
}
#header li a{
	display:block;
	width:150;
	background-color:yellow;
	margin-right:5px;
	text-align:center;
	padding:2px;
}

.col-1{width:8.33%;
border: 1px solid red;
padding: 20px ;}

.col-2{width:16.66%;
border: 1px solid red;
padding: 20px ;}

.col-3{width:24.99%;
border: 1px solid red;
padding: 20px ;}

.col-4{width:33.32%;
border: 1px solid red;
padding: 20px ;}

.col-5{width:41.65%;
border: 1px solid red;
padding: 20px ;}

.col-6{width:49.98%;
border: 1px solid red;
padding: 20px ; }

.col-7{width:58.31%;
border: 1px solid red;
padding: 20px ;}

.col-8{width:66.64%;
border: 1px solid red;
padding: 20px ;}

.col-9{width:74.97%;
border: 1px solid red;
padding: 20px ;}

.col-10{width:83.3%;
border: 1px solid red;
padding: 20px ;}

.col-11{width:91.63%;
border: 1px solid red;
padding: 20px ;}

.col-12{width:100%;
border: 1px solid red;
padding: 20px ;}


.row{

	display: inline-flex;
	width: 100%;
	border: 1px solid black;
	color:pink;
}

body{
	background-image:url('image(2).jpg');
	background-size:100%;
}

.center{

	position: center;
	padding: 20px;
	text-align:center;
}

.map{

	width: 50%;
}


.col3{
	width: 24.99%;
	padding: 5px;
}

#footer ul{
	margin:0px;
	padding:0px;
	list-style:none;

}
#footer li{
	float:left;
	margin:0px;
	padding-bottom: 2px;
}
#footer li a{
	display:inline-flex;
	width:100%;
	background-color:white;
	margin-right:5px;
	text-align:left;
	padding:2px;
	color: black;
}

li span{
	background: gold;
}